.courses-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media screen and (min-width:320px) and (max-width:786px) {
    .courses-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}