@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-image: url("https://wallpapercave.com/wp/wp1908563.jpg"); */
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url("https://wallpapercave.com/wp/wp1908563.jpg");

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
